@using IS.Model.Item.Contact;
@using IS.Mvc.Models
@model List<ContactItem>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        width: 100%; /* Ширина таблицы */
        border: 4px double black; /* Рамка вокруг таблицы */
        border-collapse: collapse; /* Отображать только одинарные линии */
    }

    th {
        text-align: left; /* Выравнивание по левому краю */
        background: #ccc; /* Цвет фона ячеек */
        padding: 5px; /* Поля вокруг содержимого ячеек */
        border: 1px solid black; /* Граница вокруг ячеек */
    }

    td {
        padding: 5px; /* Поля вокруг содержимого ячеек */
        border: 1px solid black; /* Граница вокруг ячеек */
    }
</style>

<h2>Список контактов</h2>

<table id="contact">
    <thead>
        <tr>
            <th>Тип</th>
            <th>Значение</th>
            @if (Access.CheckRole("Contact.Updater"))
            {
                <th></th>
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Type</td>
                <td>@contact.Value</td>
                <td>@Html.ActionLink("Просмотр", "Index", new { id = contact.Id });</td>
                @if (Access.CheckRole("Contact.Updater"))
                {
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", new { id = contact.Id })
                    </td>
                }
                @if (Access.CheckRole("Contact.Deleter"))
                {
                    <td>
                        @Html.ActionLink("Удалить", "Delete", new { id = contact.Id }, new { onclick = "return confirm('Удалить запись?')" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (Access.CheckRole("Contact.Creator"))
{
    @Html.ActionLink("Создать запись о контакте", "New");
}
