@using IS.Model.Item.Product;
@using IS.Mvc.Models
@model ProductItem

@{
	ViewBag.Title = "Index";
}

<style>
	table {
		border: 4px double black; /* Рамка вокруг таблицы */
		border-collapse: collapse; /* Отображать только одинарные линии */
	}

	td:first-child {
		text-align: left; /* Выравнивание по левому краю */
		background: #ccc; /* Цвет фона ячеек */
		padding: 5px; /* Поля вокруг содержимого ячеек */
		border: 1px solid black; /* Граница вокруг ячеек */
	}

	td {
		padding: 5px; /* Поля вокруг содержимого ячеек */
		border: 1px solid black; /* Граница вокруг ячеек */
	}
</style>

<table class="table product">
	<tr>
		<td>Наименования</td>
		<td>@Model.Name</td>
	</tr>
	<tr>
		<td>Срок годности</td>
		<td>@Model.ExpirationDate</td>
	</tr>
	<tr>
		<td>Тип товара</td>
		<td>@Model.ProductType</td>
	</tr>
	<tr>
		<td>Номер полки</td>
		<td>@Model.Position</td>
	</tr>
	<tr>
		<td>Цена</td>
		<td>@Model.Price</td>
	</tr>
	<tr>
		<td>Единица измерения</td>
		<td>@Model.ProductUnit</td>
	</tr>
</table>
@Html.ActionLink("Просмотр списка продукт", "List")<br />
@if (Access.CheckRole("Product.Updater"))
{
	@Html.ActionLink("Редактировать", "Edit", new { id = Model.Id })
}