@using IS.Model.Item.Car
@model CarItem
@{
	ViewBag.Title = "Create";
}

<style>
	table {
		width: 100%; /* Ширина таблицы */
		border: 4px double black; /* Рамка вокруг таблицы */
		border-collapse: collapse; /* Отображать только одинарные линии */
	}

	th {
		text-align: left; /* Выравнивание по левому краю */
		background: #ccc; /* Цвет фона ячеек */
		padding: 5px; /* Поля вокруг содержимого ячеек */
		border: 1px solid black; /* Граница вокруг ячеек */
	}

	td {
		padding: 5px; /* Поля вокруг содержимого ячеек */
		border: 1px solid black; /* Граница вокруг ячеек */
	}

	textarea {
		width: 99%; /* Ширина поля в процентах */
		height: 200px; /* Высота поля в пикселах */
	}
</style>

<h2>Добавление автомобиля</h2>

@using (@Html.BeginForm("Create", "Car"))
{
	<table>
		<tr>
			<th style="width: 100px">
				Дата изготовления
			</th>
			<td>
				<input type="text" name="ReleaseDate" />
			</td>
		</tr>
		<tr>
			<th style="width: 100px">
				Марка
			</th>
			<td>
				<select name="Brand">
					@foreach (string name in Enum.GetNames(typeof(CarBrand)))
					{
						<option value="@name">@name</option>
					}
				</select>
			</td>
		</tr>
		<tr>
			<th>
				Сериный номер
			</th>
			<td>
				<input type="text" name="Vin" />
			</td>
		</tr>
		<tr>
			<th>
				Цена
			</th>
			<td>
				<input type="text" name="Price" />
			</td>
		</tr>
		<tr>
			<th style="width: 100px">
				Цвет
			</th>
			<td>
				<select name="Color">
					@foreach (string name in Enum.GetNames(typeof(CarColor)))
					{
						<option value="@name">@name</option>
					}
				</select>
			</td>
		</tr>
		<tr>
			<th>
				Описание
			</th>
			<td>
				<textarea name="Mem"></textarea>
			</td>
		</tr>
	</table>
	<input type="submit" value="Добавить" />
}
