@using IS.Model.Item.Access;
@model RoleItem

@{
	ViewBag.Title = "Edit";
}

<style>
	table {
		border: 4px double black; /* Рамка вокруг таблицы */
		border-collapse: collapse; /* Отображать только одинарные линии */
	}

	td:first-child {
		text-align: left; /* Выравнивание по левому краю */
		background: #ccc; /* Цвет фона ячеек */
		padding: 5px; /* Поля вокруг содержимого ячеек */
		border: 1px solid black; /* Граница вокруг ячеек */
	}

	td {
		padding: 5px; /* Поля вокруг содержимого ячеек */
		border: 1px solid black; /* Граница вокруг ячеек */
	}
</style>

<h2>Редактироание данных роли</h2>

@using (@Html.BeginForm("Update", "Role"))
{
	@Html.HiddenFor(m => Model.Id)

	<table class="table role">
		<tr>
			<td>Код</td>
			<td>@Html.EditorFor(m => Model.Code)</td>
		</tr>
		<tr>
			<td>Описание</td>
			<td>@Html.EditorFor(m => Model.Mem)</td>
		</tr>
	</table>
	<input type="submit" value="Сохранить" /><br />
	@Html.ActionLink("Просмотр записи о роли", "Index", new { id = Model.Id })<br />
	@Html.ActionLink("Отмена", "Index", new { id = Model.Id })
}
@Html.ActionLink("Просмотр списка ролей", "List")